.plaster-regular {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}
html{
    background-color: black;
}

h1{
    color:#ECA72C;
    font-family: "Plaster";
    padding-left: 40px;
    padding-top: 20px;
}

canvas {
  display: block;
  margin-left: 500px;
  margin-top: 100px;
}